<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Esqueceu a Senha</title>
</head>
<body class="PaginaLogin">
    <div class="container">
        <video autoplay muted loop id="video-background">
            <source src="/static/img/login/swan-background.mp4" type="video/mp4">
        </video>

        <div class="login-card">
            <form action="{{ url_for('reset_password', token=token) }}" method="POST">
                <h1>Redefinir Senha</h1>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="input-box">
                  <input type="email" name="email" class="input-color" placeholder="Seu Email" required>
              </div>

                <div class="input-box">
                    <input type="password" name="password" class="input-color" placeholder="Nova Senha" required>
                </div>

                <div class="input-box">
                    <input type="password" name="confirm_password" class="input-color" placeholder="Confirmar Senha" required>
                </div>

                <button type="submit" class="btn-login">Atualizar</button>
            </form>
        </div>
    </div>
</body>
</html>